# local: localStorage 기반 저장
# remote: 서버 API 기반 저장
VITE_APP_STATE_SOURCE=local

# 서버 API 주소
VITE_API_BASE_URL=

# 사용자 상태 조회
VITE_APP_STATE_GET_ENDPOINT=

# 온보딩 저장
VITE_APP_STATE_ONBOARDING_ENDPOINT=

# 패치 상황 판단 답변 저장
# :patchId 위치에 실제 패치 ID가 들어갑니다.
VITE_PATCH_SELECTION_ENDPOINT=

# 패치 최종 확인 답변 저장
VITE_PATCH_REVIEW_SELECTION_ENDPOINT=

# 패치 진행 단계 저장
VITE_PATCH_PROGRESS_ENDPOINT=

# 패치 최종 확인 완료
VITE_PATCH_REVIEW_COMPLETE_ENDPOINT=

# 패치 및 미션 완료
VITE_PATCH_COMPLETE_ENDPOINT=

# 사용자 학습 상태 초기화
VITE_APP_STATE_RESET_ENDPOINT=